
<%= render "nav" %>

<h1>color moods</h1>

<body>
        <% @colors.each do |color| %>
            <div class="colorMood">
                <div>
                    <p>my name is <%= color.user %></p>
                    <p style="color:<%= color.name %>">current mood: <%= color.name %> for <%= color.mood %></p>
                </div>
                <div class="allButtons">
                    <div class="button">
                        <%= link_to "view", color %>
                    </div> 
                    <div class="button">
                        <%= link_to "edit", edit_color_path(color) %>
                    </div>
                    <div class="button">
                        <%= link_to "delete", color_path(color), method: :delete,
                            data: { confirm: "are you sure?" } %>
                    </div>
                </div>
            </div>
        <% end %>
</body>